* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-nav-mobile {
    display: none;
}

.red {
    background: rgb(255, 144, 144);
}

.green {
    background: rgb(153, 255, 153);
}

.yellow {
    background: rgb(239, 249, 103);
}
body {
    font-family: Arial, sans-serif;
}

.MainBox {
    margin: auto;
}

.header-arrow {
    display: none;
}

.form {
    margin: 20px 0;
    margin-top: 60px;
}

.form-title {
    color: #098C85;
    margin-bottom: 20px;
}

.form-up-box {
    display: flex;
    gap: 10px;
}

.form-select {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #098C85;
    outline: none;
}

.form-select:hover {
    color: #098C85;
    transition: all 0.3s ease;
}


.form-task-input {
    height: 40px;
    border: 1px solid #098C85;
    outline: none;
    
}

.form-add-task-input {
    width: 100%;
    height: 40px;
    border: 1px solid #098C85;
    background: none;
    cursor: pointer;
}

.form-add-task-input:hover {
    color: white;
    background: #098C85;
    transition: all 0.3s ease;

}

.task-list-first-td {
    background: #098C85;
    color: white;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

input, select, textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

.task-list-td-button-box {
    padding: 0;
}
.task-list-td-delete-button {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.task-list-td-delete-button:hover {
    background: #FF928E;
    transition: all 0.3s ease;
}

.task-list-td-edit-button {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.task-list-td-edit-button:hover {
    background: #fbe886;
    transition: all 0.3s ease;
}

.modal {
    min-height: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #098C85;
}

.modal-content {
    text-align: center;
}

.modal-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content form input {
    width: 80%;
    border: 1px solid #098C85;
}

.modal-content form button {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    border: 1px solid #098C85;
    background: none;
}

.modal-content form button:hover {
    background: #098C85;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.modal-content form select {
    width: 80%;
    cursor: pointer;
}

.contact-form {
    margin-top: 60px;
    margin-bottom: 200px;
}

.contact-title {
    margin-bottom: 20px;
    color: #098C85;
}

.contact-form  button {
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid #098C85;
    color: #098C85;
    cursor: pointer;
}

.contact-form  button:hover {
    background: #098C85;
    color: white;
    transition: all 0.3s ease;
}

.contact-form input {
    outline: none;
    border: 1px solid #098C85;
    height: 50px;
}

.contact-form textarea {
    outline: none;
    border: 1px solid #098C85;
    height: 80px;
}




.MainBox {
    max-width: 1024px;
}

.header {
    height: 80px;
    background: #098C85;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.header-title {
    font-size: 24px;
    color: white
}

.header-nav {
    display: flex;
    gap: 40px
}

.header-nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-nav-link:hover {
    color: #C7FFFA;
    transition: all 0.3s ease;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6;
}

.home-left-wrapper {
    max-width: 450px;

}

.home-left-wrapper h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #098C85;
    font-weight: 600;
}

.home-left-wrapper p {
    font-weight: 400;
    font-size: 18px;
}

.home-mobile {
    display: none;
}

@media (max-width: 768px) {


    .home {
        flex-direction: column;
        display: none;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .home-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6;
        flex-direction: column;
    }
    
    .home-mobile-left-wrapper {
        max-width: 450px;
    
    }
    
    .home-mobile-left-wrapper h1 {
        font-size: 36px;
        margin-bottom: 10px;
        color: #098C85;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .home-mobile-left-wrapper p {
        font-weight: 400;
        font-size: 24px;
    }

    .form-title {
        text-align: center;
        
    }

    .form-up-box {
        flex-direction: column;
        gap: 5px;
    }
    
    .form-select {
        height: 80px;
        width: 100%;
        font-size: 24px;
        text-align: center;
        color: #098C85;
    }

    .form-task-input {
        height: 80px;
        width: 100%;
        font-size: 24px;
        text-align: center;
        color: #098C85;
    }

    .form-add-task-input {
        margin-top: 10px;
        height: 80px;
        width: 100%;
        font-size: 24px;
        text-align: center;
        background: #098C85;
        color: white;
    }
    
    .task-list-td-button-box button {
        height: 100px;
        font-size: 20px;
    }

    .modal {
        min-height: 600px;
        width: 90%;
    }

    .modal-title {
        font-size: 36px;
    }

    .modal-form input {
        height: 90px;
        margin-top: 20px;
        font-size: 24px;
    }

    .modal-content form button {
        font-size: 24px;
        height: 90px;
        color:#098C85;
    }

    .contact-title {
        text-align: center;

    }

    .contact-form input {
        height: 90px;
        font-size: 24px;
    }

    .contact-form textarea {
        height: 180px;
        font-size: 24px;
    }

    .contact-form button {
        height: 90px;
        font-size: 24px;
        background: #098C85;
        color: white;
    }

    .header {
        flex-direction: column;
        height: 140px;
        justify-content: unset;
    }

    .header-title {
        font-size: 36px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .header-nav-link {
        font-size: 24px;
        margin-left: 30px;
    }

    .header-nav-link:last-child {
        margin-left: 0;
    }

    .task-list-td-title {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 200px; 
    }

    .task-list-td-edit-button {
        word-wrap: break-word;
        overflow-wrap: break-word;
        background: rgb(250, 253, 203);
    }

    .task-list-td-delete-button {
        background: rgb(255, 144, 144);
    }

    .task-list-td-id {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 200px;
    }
    
    .task-list-table {
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: left;
        font-size: 22px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }


    .MainBox {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 425px) {
    .header-title {
        font-size: 24px;
    }

    .header-nav-link {
        font-size: 16px;
        margin-left: 15px;
        margin: 0;
    }

    .home-mobile-left-wrapper h1 {
        font-size: 24px;
    }
    
    .home-mobile-left-wrapper p {
        font-size: 16px;
    }

    .form-select,
    .form-task-input,
    .form-add-task-input {
        height: 60px;
        font-size: 16px;
    }

    .modal {
        min-height: 400px;
    }

    .modal-title {
        font-size: 24px;
    }

    .modal-form input,
    .modal-content form button {
        height: 60px;
        font-size: 16px;
    }

    .contact-form input {
        height: 60px;
        font-size: 16px;
    }

    .contact-form textarea {
        height: 120px;
        font-size: 16px;
    }

    .contact-form button {
        height: 60px;
        font-size: 16px;
    }

    th, td {
        font-size: 14px;
        padding: 5px;
    }

    .task-list-td-button-box button {
        height: 60px;
        font-size: 14px;
    }

    .home-mobile-img {
        width: 300px;
    }

    .header-arrow {
        display: block;
        width: 50px;
        top: 80px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header {
        height: 220px;
    }

    .header-nav {
        display: block;
        flex-direction: column;
    }

    .height-250 {
        height: 250px;
    }
    
    .height-120 {
        height: 120px;
    }

    .header-nav {
        display: none;
        margin-top: 10px;
    }

    .header-nav-mobile a {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .MainBox {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.height-250 {
    height: 250px;
}

.height-120 {
    height: 120px;
}

