.header {
    height: 120px;
    background: #098C85;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 80px;
    padding: 0 20px; 
}

.header-title {
    font-size: 24px;
    color: white;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

.header-nav-link:hover {
    color: #C7FFFA;
}

.header-arrow {
    display: none; 
}

.header-nav-mobile {
    display: none;
}


@media (max-width: 768px) { 
    .header {
        flex-direction: column;
        height: 160px;
        justify-content: flex-start;
        padding: 20px 0;
    }

    .header-title {
        font-size: 36px;
        margin: 15px 0 30px; 
    }

    .header-nav-link {
        font-size: 24px;
        margin-left: 0; 
    }
}

@media (max-width: 425px) { 
    .header-title {
        font-size: 24px;
    }

    .header-nav-link {
        font-size: 16px;
        margin: 0; 
    }

    .header {
        height: auto;
    }

    .header-nav {
        display: none; 
        flex-direction: column;
        margin-top: 10px;
    }

    .header-nav-mobile {
        display: flex;
        flex-direction: column;
    }

    .header-nav-mobile a {

        margin-bottom: 20px;
        font-size: 24px;
    }

    .header-arrow {
        display: block;
        width: 50px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
